In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import statistics 
import math

In [ ]:
matches = pd.read_csv("/content/sample_data/matches.csv")
matches.head()

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

In [ ]:
# setting up the table with relevant columns
dropList = ["result","player_of_match","venue","umpire1","umpire2","umpire3"]
matches.drop(labels=dropList, axis=1, inplace=True)
matches.head()

   id  season  ... win_by_runs win_by_wickets
0   1    2017  ...          35              0
1   2    2017  ...           0              7
2   3    2017  ...           0             10
3   4    2017  ...           0              6
4   5    2017  ...          15              0

[5 rows x 12 columns]

In [ ]:
matches[pd.isnull(matches['winner'])]

        id  season       city  ... winner win_by_runs win_by_wickets
300    301    2011      Delhi  ...    NaN           0              0
545    546    2015  Bangalore  ...    NaN           0              0
570    571    2015  Bangalore  ...    NaN           0              0
744  11340    2019  Bengaluru  ...    NaN           0              0

[4 rows x 12 columns]

In [ ]:
matches['winner'].fillna('Draw', inplace=True)
matches[pd.isnull(matches['winner'])]

Empty DataFrame
Columns: [id, season, city, date, team1, team2, toss_winner, toss_decision, dl_applied, winner, win_by_runs, win_by_wickets]
Index: []

In [ ]:
matches[pd.isnull(matches['city'])]

      id  season city  ...                       winner win_by_runs win_by_wickets
461  462    2014  NaN  ...  Royal Challengers Bangalore           0              7
462  463    2014  NaN  ...             Delhi Daredevils           0              4
466  467    2014  NaN  ...          Chennai Super Kings           7              0
468  469    2014  NaN  ...          Sunrisers Hyderabad           4              0
469  470    2014  NaN  ...          Chennai Super Kings           0              7
474  475    2014  NaN  ...              Kings XI Punjab           0              5
476  477    2014  NaN  ...          Sunrisers Hyderabad          15              0

[7 rows x 12 columns]

In [ ]:
matches['city'].fillna('Dubai', inplace=True)
matches[pd.isnull(matches['city'])]

Empty DataFrame
Columns: [id, season, city, date, team1, team2, toss_winner, toss_decision, dl_applied, winner, win_by_runs, win_by_wickets]
Index: []

In [ ]:
matches.replace(["Deccan Chargers","Delhi Daredevils"],["Sunrisers Hyderabad","Delhi Capitals"],inplace=True,regex=True)
match1 = matches[((matches.team1=="Rajasthan Royals") & (matches.team2=="Mumbai Indians")) | ((matches.team1=="Mumbai Indians") & (matches.team2=="Rajasthan Royals"))]
match1.shape[0]

20

In [ ]:
mw_rr = 0 
mw_mi = 0
lst= [i for i in match1['winner']] 
print("Win Tracker!")
for i in lst:
  if i=="Rajasthan Royals":
    mw_rr += 1
  else:
    mw_mi += 1
  print(str(mw_rr)+" "+str(mw_mi))
print("RR vs MI : "+str(mw_rr)+" "+str(mw_mi))

Win Tracker!
0 1
1 1
2 1
2 2
2 3
3 3
4 3
4 4
4 5
5 5
5 6
5 7
5 8
5 9
6 9
6 10
7 10
8 10
9 10
10 10
RR vs MI : 10 10

In [ ]:
last_3_season = matches[(matches['season']>=2017) & np.logical_or(np.logical_and(matches.team1=="Rajasthan Royals",matches.team2=="Mumbai Indians"),np.logical_and(matches.team1=="Mumbai Indians",matches.team2=="Rajasthan Royals"))]
last_3_season.groupby('winner').season.count()

winner
Rajasthan Royals    4
Name: season, dtype: int64

Out of 20 matches held between RR and MI, Both have equal share of wins 10 in each basket.But in last 3 seasons,RR has steady record of 4 by 0 over MI.

In [ ]:
deliveries = pd.read_csv("/content/sample_data/deliveries.csv")
deliveries.head()

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN
3         1       1  ...            NaN     NaN
4         1       1  ...            NaN     NaN

[5 rows x 21 columns]

In [ ]:
dropToBeList = ['inning','is_super_over','bye_runs','legbye_runs','fielder']
deliveries.drop(dropToBeList, axis=1, inplace=True)
deliveries['dismissal_kind'].fillna('Not Out',inplace=True)
deliveries.head()

   match_id         batting_team  ... player_dismissed  dismissal_kind
0         1  Sunrisers Hyderabad  ...              NaN         Not Out
1         1  Sunrisers Hyderabad  ...              NaN         Not Out
2         1  Sunrisers Hyderabad  ...              NaN         Not Out
3         1  Sunrisers Hyderabad  ...              NaN         Not Out
4         1  Sunrisers Hyderabad  ...              NaN         Not Out

[5 rows x 16 columns]

In [ ]:
ballbyball = deliveries[((deliveries.batting_team=="Rajasthan Royals") & (deliveries.bowling_team=="Mumbai Indians")) | ((deliveries.batting_team=="Mumbai Indians") & (deliveries.bowling_team=="Rajasthan Royals"))]
ballbyball.head()

       match_id      batting_team  ... player_dismissed  dismissal_kind
20024        86  Rajasthan Royals  ...              NaN         Not Out
20025        86  Rajasthan Royals  ...              NaN         Not Out
20026        86  Rajasthan Royals  ...              NaN         Not Out
20027        86  Rajasthan Royals  ...              NaN         Not Out
20028        86  Rajasthan Royals  ...              NaN         Not Out

[5 rows x 16 columns]

In [ ]:
#Q3
mi_batting_stats = deliveries[deliveries['batting_team']=='Mumbai Indians']
rr_batting_stats = deliveries[deliveries['batting_team']=='Rajasthan Royals']
mi_lineup = [i for i in mi_batting_stats['batsman']]
rr_lineup = [i for i in rr_batting_stats['batsman']]
mi_lineups = list(set([i for i in mi_lineup if mi_lineup.count(i)>50]))
rr_lineups = list(set([i for i in rr_lineup if rr_lineup.count(i)>50]))
mi_lineup = mi_lineups
rr_lineup = rr_lineups
mi_lineup_req=[]
rr_lineup_req=[]
print("MI")
for i in mi_lineup:
  print(i)
  mibatsman_stats = mi_batting_stats[mi_batting_stats['batsman']==i]
  total_runs_scored = mibatsman_stats.groupby('match_id').batsman_runs.sum()
  nof_boundaries = mibatsman_stats[mibatsman_stats['batsman_runs']==4].groupby('match_id').batsman_runs.count()
  lst1 = [i for i in total_runs_scored]
  lst2 = [i for i in nof_boundaries]
  print(round(sum(lst2)/sum(lst1),2))
  mi_lineup_req.append(round(sum(lst2)/sum(lst1),2))

MI
RG Sharma
0.09
AT Rayudu
0.08
PR Shah
0.09
DJ Thornely
0.05
SL Malinga
0.07
MJ McClenaghan
0.05
DR Smith
0.1
CM Gautam
0.11
R Sathish
0.09
AP Tare
0.12
ST Jayasuriya
0.11
Yuvraj Singh
0.06
E Lewis
0.08
R McLaren
0.11
PA Patel
0.13
Harbhajan Singh
0.1
JEC Franklin
0.08
LMP Simmons
0.1
KH Pandya
0.1
JC Buttler
0.09
UBT Chand
0.13
MJ Guptill
0.05
AM Nayar
0.07
AS Yadav
0.11
N Rana
0.07
YV Takawale
0.1
RT Ponting
0.06
AC Blizzard
0.17
RE Levi
0.12
KD Karthik
0.11
SM Pollock
0.08
DJ Jacobs
0.11
MEK Hussey
0.08
DJ Bravo
0.08
MG Johnson
0.05
BCJ Cutting
0.05
Ishan Kishan
0.08
KA Pollard
0.07
AM Rahane
0.09
SR Tendulkar
0.13
CJ Anderson
0.08
HH Pandya
0.07
JP Duminy
0.07
A Symonds
0.07
HH Gibbs
0.1
Q de Kock
0.08
S Dhawan
0.11
RV Uthappa
0.11
TL Suman
0.07
SS Tiwary
0.08

In [ ]:
print("RR")
for i in rr_lineup:
  print(i)
  rrbatsman_stats = rr_batting_stats[rr_batting_stats['batsman']==i]
  total_runs_scored = rrbatsman_stats.groupby('match_id').batsman_runs.sum()
  nof_boundaries = rrbatsman_stats[rrbatsman_stats['batsman_runs']==4].groupby('match_id').batsman_runs.count()
  lst1 = [i for i in total_runs_scored]
  lst2 = [i for i in nof_boundaries]
  print(round(sum(lst2)/sum(lst1),2))
  rr_lineup_req.append(round(sum(lst2)/sum(lst1),2))
#print(rr_lineup[rr_lineup_req.index(max(rr_lineup_req))])

RR
NV Ojha
0.1
SR Watson
0.1
AL Menaria
0.06
FY Fazal
0.12
BJ Hodge
0.08
RJ Quiney
0.12
JP Faulkner
0.07
Kamran Akmal
0.1
RA Jadeja
0.07
MJ Lumb
0.16
P Dogra
0.04
SA Asnodkar
0.13
AS Raut
0.07
SP Goswami
0.06
S Gopal
0.11
SK Warne
0.07
J Archer
0.07
M Rawat
0.08
JC Buttler
0.1
LRPL Taylor
0.06
AC Voges
0.08
RA Tripathi
0.08
AA Jhunjhunwala
0.09
R Parag
0.1
YK Pathan
0.09
DH Yagnik
0.14
STR Binny
0.07
SK Trivedi
0.07
BA Stokes
0.06
AD Mascarenhas
0.07
J Botha
0.09
SPD Smith
0.1
R Dravid
0.13
D Short
0.09
R Bhatia
0.06
M Kaif
0.08
AM Rahane
0.11
AG Paunikar
0.18
KK Cooper
0.08
OA Shah
0.07
DJ Hooda
0.04
Niraj Patel
0.12
KK Nair
0.11
GC Smith
0.13
SV Samson
0.08
K Gowtham
0.07
LA Carseldine
0.14

Quinton De Kock or Steve Smith from present Lineup of respective teams

In [ ]:
#Q2
bis_mi = []
bis_rr = []
mi_lineup = list(set([i for i in mi_batting_stats['batsman']]))
rr_lineup = list(set([i for i in rr_batting_stats['batsman']]))
for i in mi_lineup:
  batsman_stats =  mi_batting_stats[mi_batting_stats['batsman']==i]
  total_runs_scored = batsman_stats.groupby('match_id').batsman_runs.sum().reset_index()
  total_balls_faced = batsman_stats.groupby('match_id').ball.count().reset_index()
  nof_boundaries = batsman_stats[batsman_stats['batsman_runs']==4].groupby('match_id').batsman_runs.count().reset_index()
  nof_boundaries.rename(columns={'batsman_runs':'nof_4s'}, inplace=True)
  nof_one_two_three = batsman_stats[(batsman_stats['batsman_runs']==1)|(batsman_stats['batsman_runs']==2)|(batsman_stats['batsman_runs']==3)].groupby('match_id').batsman_runs.count().reset_index()
  nof_one_two_three.rename(columns={'batsman_runs':'nof_1_2_3'},inplace=True)
  df1 = pd.merge(total_runs_scored,total_balls_faced,how='outer')
  df2 = pd.merge(nof_boundaries,nof_one_two_three,how='outer')
  df = pd.merge(df1,df2,how='outer')
  df.fillna(0,inplace=True)
  df = df[df['ball']>10]  
  val1 = sum(df['batsman_runs'])+sum(df['nof_4s'])*4
  val2 = sum(df['nof_1_2_3'])*0.5 + sum(df['ball'])
  bis_mi.append(val1-val2)
for i,j in zip(mi_lineup,bis_mi):
  print(i,end=" ")
  print(j)
  print("\n")
for i in rr_lineup:
  batsman_stats =  rr_batting_stats[rr_batting_stats['batsman']==i]
  total_runs_scored = batsman_stats.groupby('match_id').batsman_runs.sum().reset_index()
  total_balls_faced = batsman_stats.groupby('match_id').ball.count().reset_index()
  nof_boundaries = batsman_stats[batsman_stats['batsman_runs']==4].groupby('match_id').batsman_runs.count().reset_index()
  nof_boundaries.rename(columns={'batsman_runs':'nof_4s'}, inplace=True)
  nof_one_two_three = batsman_stats[(batsman_stats['batsman_runs']==1)|(batsman_stats['batsman_runs']==2)|(batsman_stats['batsman_runs']==3)].groupby('match_id').batsman_runs.count().reset_index()
  nof_one_two_three.rename(columns={'batsman_runs':'nof_1_2_3'},inplace=True)
  df1 = pd.merge(total_runs_scored,total_balls_faced,how='outer')
  df2 = pd.merge(nof_boundaries,nof_one_two_three,how='outer')
  df = pd.merge(df1,df2,how='outer')
  df.fillna(0,inplace=True)
  df = df[df['ball']>10]
  val1 = sum(df['batsman_runs'])+sum(df['nof_4s'])*4
  val2 = sum(df['nof_1_2_3'])*0.5 + sum(df['ball'])
  bis_rr.append(val1-val2)
for i,j in zip(rr_lineup,bis_rr):
  print(i,end=" ")
  print(j)
  print("\n")

VS Yeligati 0.0


SL Malinga -4.0


Z Khan 0.0


DR Smith 268.0


CM Gautam 23.5


BB Sran 0.0


ST Jayasuriya 458.5


E Lewis 216.5


M de Lange 0.0


AJ Finch -0.5


RR Raje 0.0


C Nanda 0.0


PP Ojha -10.5


A Dananjaya 0.0


MA Khote 0.0


JEC Franklin 38.5


KH Pandya 450.5


MJ Guptill 5.0


KD Karthik 305.5


STR Binny 0.0


MK Pandey 0.0


A Nehra 0.0


SA Yadav 0.0


HH Gibbs 13.0


RV Uthappa 102.0


TL Suman 27.0


C Madan 4.5


DJ Jacobs 27.0


SD Lad 4.5


DJ Thornely -5.0


GJ Maxwell 4.0


L Ronchi 13.5


J Suchith 26.0


R McLaren 0.0


S Gopal -15.0


RT Ponting -7.0


RE Levi 53.5


RP Singh 0.0


DJ Bravo 136.0


MG Johnson -4.5


P Kumar 0.0


AN Ahmed 6.0


TG Southee 14.0


Mustafizur Rahman 0.0


DS Kulkarni -16.0


HH Pandya 417.5


RG Sharma 1491.5


AT Rayudu 753.0


MJ McClenaghan -3.0


R Sathish 24.0


AP Tare 122.0


Yuvraj Singh 36.0


PA Patel 533.0


Harbhajan Singh 271.0


JJ Bumrah 1.0


LMP Simmons 482.5


R Vinay Kumar -1.5


AS Yadav 477.5


JC Buttler 267.5


AM Nayar 166.0


N Rana 138.0


YV Takawale -10.5


NM Coulter-Nile 0.0


R Salam 0.0


Ishan Kishan 142.0


KA Pollard 1044.5


AM Rahane 35.0


PJ Sangwan 0.0


A Symonds -4.0


Q de Kock 231.0


S Dhawan 72.5


R Dhawan 4.5


SS Tiwary 168.0


PR Shah 4.5


Mohammad Ashraful -11.0


CJ McKay -10.5


KV Sharma 0.0


BR Dunk 23.0


A Joseph 7.5


UBT Chand 44.0


AC Blizzard 94.0


SM Pollock 56.5


MEK Hussey 54.5


AG Murtaza 0.0


RJ Peterson -1.0


CRD Fernando 0.0


GR Napier -1.0


BCJ Cutting 20.5


RD Chahar 0.0


M Markande -8.0


SR Tendulkar 1062.0


MM Patel 0.0


NLTC Perera 0.0


CJ Anderson 163.5


JP Duminy 103.5


SD Chitnis 0.0


MDKJ Perera 13.0


NV Ojha 248.0


A Uniyal 0.0


PC Valthaty 0.0


CH Morris 29.0


FY Fazal 59.5


RA Jadeja 82.0


AJ Finch -6.5


Sachin Baby 0.0


P Dogra -7.5


SA Asnodkar 222.0


GB Hogg 2.0


VR Aaron 0.0


R Tewatia -0.5


LRPL Taylor 37.5


VS Malik 0.0


R Parag 67.0


STR Binny 241.0


BA Stokes 36.5


J Botha 23.0


R Dravid 546.0


Pankaj Singh 0.0


DJ Hooda 41.0


B Laughlin 0.0


GC Smith 317.5


LA Carseldine 22.0


DS Lehmann 9.5


BJ Hodge 242.5


RJ Quiney 26.0


M Morkel 0.0


AS Raut 51.0


SP Goswami -1.5


S Gopal 7.0


AP Dole 13.0


M Rawat 8.5


AC Voges 54.5


AA Jhunjhunwala 18.5


T Kohli -6.5


YK Pathan 585.5


DH Yagnik 52.0


PV Tambe 0.0


TG Southee 0.0


R Bhatia -1.5


AA Chavan 0.0


DS Kulkarni 2.5


AG Paunikar 19.0


T Henderson -6.0


KK Cooper 43.5


JDP Oram 0.0


M Lomror -5.0


SR Watson 1244.0


AL Menaria 55.5


S Sreesanth 0.0


L Livingstone 33.0


S Narwal 0.0


JP Faulkner 123.5


A Chandila 0.0


A Turner 0.0


Kamran Akmal 50.5


J Theron 0.0


SK Warne 9.5


Younis Khan 0.0


SM Harwood 0.0


JC Buttler 541.0


AM Nayar 1.5


RA Tripathi 121.0


DR Martyn -10.5


Ankit Sharma 15.5


D Salunkhe 17.5


P Chopra 0.0


D Short 28.5


M Kaif 27.0


AM Rahane 1126.5


R Shukla 0.0


JD Unadkat 16.0


KW Richardson 0.0


OA Shah 104.5


K Gowtham 36.5


Niraj Patel 23.0


KK Nair 234.0


ND Doshi -13.0


PR Shah 0.0


H Klaasen 15.0


Sohail Tanvir 0.0


MJ Lumb 213.5


A Singh 0.0


J Archer 33.5


UBT Chand 0.0


I Sodhi -6.5


SK Trivedi -7.5


AD Mascarenhas -1.5


BCJ Cutting 0.0


SPD Smith 288.5


SW Tait -3.5


Anureet Singh 0.0


MM Patel 0.0


Kamran Khan 0.0


SV Samson 545.0


SD Chitnis 0.0

buttler and rohit leads in BIS

In [ ]:
#Q5
bls_mi = []
bls_rr = []
mi_bowling_stats = deliveries[deliveries['bowling_team']=='Mumbai Indians']
rr_bowling_stats = deliveries[deliveries['bowling_team']=='Rajasthan Royals']
mi_lineup_b = list(set([i for i in mi_bowling_stats['bowler']]))
rr_lineup_b = list(set([i for i in rr_bowling_stats['bowler']]))
for i in mi_lineup_b:
  bowler_stats =  mi_bowling_stats[mi_bowling_stats['bowler']==i]
  wickets_taken = bowler_stats[(bowler_stats.dismissal_kind=='caught')|(bowler_stats.dismissal_kind=='bowled')|(bowler_stats.dismissal_kind=='lbw')].groupby('match_id').dismissal_kind.count().reset_index()
  wickets_taken.rename(columns={'dismissal_kind':'no_of_wickets'},inplace=True)
  dot_balls = bowler_stats[bowler_stats['total_runs']==0].groupby('match_id').total_runs.count().reset_index()
  dot_balls.rename(columns={'total_runs':'dot_balls'},inplace=True)
  nof_boundaries = bowler_stats[bowler_stats['batsman_runs']==4].groupby('match_id').batsman_runs.count().reset_index()
  nof_boundaries.rename(columns={'batsman_runs':'nof_4s_given'}, inplace=True)
  total_balls = bowler_stats.groupby('match_id').ball.count().reset_index()
  total_balls.rename(columns={'ball':'no_of_balls'},inplace=True)
  df1 = pd.merge(wickets_taken,dot_balls,how='outer')
  df2 = pd.merge(nof_boundaries,total_balls,how='outer')
  df = pd.merge(df1,df2,how='outer')
  df.fillna(0,inplace=True)  
  df['no_of_balls'].replace([7,8,9,10],6,inplace=True)
  df['no_of_balls'].replace([13,14,15],12,inplace=True)
  df['no_of_balls'].replace([19,20,21],18,inplace=True)
  df['no_of_balls'].replace([25,26,27],24,inplace=True)
  val1 = sum(df['no_of_wickets'])+sum(df['dot_balls'])*2
  val2 = sum(df['nof_4s_given'])/((sum(df['no_of_balls'])-sum(df['dot_balls']))*2.5)
  val=val1-val2
  bls_mi.append(val)
for i,j in zip(mi_lineup_b,bls_mi):
  print(i,end=" ")
  print(j)
  print("\n")

VS Yeligati 11.883333333333333


RG Sharma 24.954545454545453


DJ Thornely 39.91304347826087


SL Malinga 2452.9262543757295


Z Khan 449.9147147147147


RA Shaikh 1.84


MJ McClenaghan 1083.90737913486


DR Smith 128.9157894736842


BB Sran 13.83529411764706


R Sathish 42.92280701754386


ST Jayasuriya 177.95829383886255


GJ Maxwell 3.96


J Suchith 147.93636363636364


R McLaren 141.90222222222224


M de Lange 45.87692307692308


CJ McKay 28.885714285714286


R Dhawan 69.92857142857143


RR Raje 83.90612244897959


KV Sharma 160.95636363636365


C Nanda 27.98857142857143


RW Price 1.9529411764705882


JDP Oram 21.907692307692308


PP Ojha 576.9564356435643


A Dananjaya 11.955555555555556


S Gopal 75.95897435897436


Harbhajan Singh 2225.947685683531


MA Khote 11.936


JJ Bumrah 1376.928233151184


JEC Franklin 86.925


LMP Simmons 4.95


A Joseph 51.87096774193548


R Vinay Kumar 259.90291262135923


KH Pandya 634.9517027863777


A Roy 9.0


AM Nayar 86.94805194805195


A Nel 14.89090909090909


N Rana 6.0


J Behrendorff 106.87936507936507


SM Pollock 269.9178082191781


R Salam 15.925


NM Coulter-Nile 22.846153846153847


P Suyal 73.89333333333333


RP Singh 215.89931972789117


STR Binny -0.06666666666666667


AG Murtaza 163.9504424778761


DJ Bravo 429.92246153846156


MG Johnson 516.8850574712644


CRD Fernando 213.9111111111111


GR Napier 16.95


RJ Peterson 44.925925925925924


YS Chahal 15.925


P Kumar 68.92820512820512


KA Pollard 702.9366020524516


AN Ahmed 145.91869918699186


M Markande 195.9311004784689


BCJ Cutting 52.90112359550562


TG Southee 250.9151515151515


RD Chahar 257.95220125786165


J Yadav 34.968


SR Tendulkar 7.925


AM Rahane 5.0


R Shukla 9.876923076923077


Mustafizur Rahman 120.92222222222222


PJ Sangwan 7.8


A Nehra 251.8738255033557


MM Patel 638.9035175879397


DS Kulkarni 574.9071240105541


NLTC Perera 3.92


HH Pandya 615.9186206896552


JP Duminy 129.95402298850576


CJ Anderson 94.8712643678161


A Symonds 20.885714285714286


K Santokie 32.92727272727273


TL Suman 13.958620689655172


SD Chitnis 19.94074074074074

In [ ]:
for i in rr_lineup_b:
  bowler_stats =  rr_bowling_stats[rr_bowling_stats['bowler']==i]
  wickets_taken = bowler_stats[(bowler_stats.dismissal_kind=='caught')|(bowler_stats.dismissal_kind=='bowled')|(bowler_stats.dismissal_kind=='lbw')].groupby('match_id').dismissal_kind.count().reset_index()
  wickets_taken.rename(columns={'dismissal_kind':'no_of_wickets'},inplace=True)
  dot_balls = bowler_stats[bowler_stats['total_runs']==0].groupby('match_id').total_runs.count().reset_index()
  dot_balls.rename(columns={'total_runs':'dot_balls'},inplace=True)
  nof_boundaries = bowler_stats[bowler_stats['batsman_runs']==4].groupby('match_id').batsman_runs.count().reset_index()
  nof_boundaries.rename(columns={'batsman_runs':'nof_4s_given'}, inplace=True)
  total_balls = bowler_stats.groupby('match_id').ball.count().reset_index()
  total_balls.rename(columns={'ball':'no_of_balls'},inplace=True)
  df1 = pd.merge(wickets_taken,dot_balls,how='outer')
  df2 = pd.merge(nof_boundaries,total_balls,how='outer')
  df = pd.merge(df1,df2,how='outer')
  df.fillna(0,inplace=True)  
  df['no_of_balls'].replace([7,8,9,10],6,inplace=True)
  df['no_of_balls'].replace([13,14,15],12,inplace=True)
  df['no_of_balls'].replace([19,20,21],18,inplace=True)
  df['no_of_balls'].replace([25,26,27],24,inplace=True)
  val1 = sum(df['no_of_wickets'])+sum(df['dot_balls'])*2
  val2 = sum(df['nof_4s_given'])/((sum(df['no_of_balls'])-sum(df['dot_balls']))*2.5)
  val=val1-val2
  bls_rr.append(val)
for i,j in zip(rr_lineup_b,bls_rr):
  print(i,end=" ")
  print(j)
  print("\n")

SB Wagh 4.6


M Lomror 3.925


ND Doshi 20.9


O Thomas 38.91627906976744


SR Watson 1215.8997493734337


AL Menaria 80.91428571428571


A Uniyal 17.914285714285715


S Sreesanth 138.875


L Livingstone 6.0


S Narwal 66.91384615384615


CH Morris 243.90896551724137


BB Sran 9.876923076923077


FY Fazal 1.9636363636363636


BJ Hodge 10.938461538461539


Sohail Tanvir 263.91692307692307


A Chandila 209.94809160305343


RA Jadeja 100.94563106796116


JP Faulkner 688.9244147157191


S Midhun 5.911111111111111


AJ Finch 6.0


A Singh 405.9062937062937


M Morkel 69.90188679245283


J Theron 8.92


AS Raut 11.933333333333334


GB Hogg 163.95128205128205


S Gopal 364.96065573770494


SK Warne 895.9526041666667


J Archer 439.9251700680272


AP Dole 44.904347826086955


SM Harwood 68.92727272727272


VR Aaron 53.88936170212766


R Tewatia 56.955555555555556


LRPL Taylor 0.0


AC Voges 29.91794871794872


VS Malik 76.8829268292683


AA Jhunjhunwala 23.92


S Badree 13.929411764705883


I Sodhi 138.96869565217392


R Parag 37.95151515151515


Ankit Sharma 110.93953488372092


D Salunkhe 25.931428571428572


YK Pathan 420.9484536082474


Harmeet Singh (2) 24.9


STR Binny 340.9263888888889


SK Trivedi 1046.9397260273972


BA Stokes 211.89868995633188


AD Mascarenhas 175.90769230769232


J Botha 410.9428571428571


BCJ Cutting 18.866666666666667


Iqbal Abdulla 3.92


D Short 14.927272727272728


PV Tambe 373.9450777202073


TG Southee 187.91532846715327


R Bhatia 136.9651282051282


AA Chavan 207.92533333333333


R Shukla 32.878787878787875


JD Unadkat 324.9155080213904


SW Tait 421.9101265822785


KW Richardson 132.924


Anureet Singh 8.92


MM Patel 589.8979228486647


Kamran Khan 125.90736842105264


KK Cooper 399.940404040404


T Henderson 28.90909090909091


DS Kulkarni 614.8844660194175


Pankaj Singh 162.87878787878788


DJ Hooda 50.93939393939394


K Gowtham 251.91464435146443


B Laughlin 74.91827956989248


LA Carseldine 8.8


JDP Oram 16.925

bumrah and archer!!

In [ ]:
rr = deliveries[deliveries['batting_team']=='Rajasthan Royals']
mi = deliveries[deliveries['batting_team']=='Mumbai Indians']
rr_match_ids = list(set([i for i in rr['match_id']]))
mi_match_ids = list(set([i for i in mi['match_id']]))
rr_balls_to_100=[]
mi_balls_to_100=[]
for i in rr_match_ids:
  mdf = rr[rr['match_id']==i]
  scores=[i for i in mdf['total_runs']]
  wide = [i for i in rr['wide_runs']]
  noball = [i for i in mdf['noball_runs']]
  score=0
  ball=0
  counter=0
  for i in scores:
    score += i
    if(score<=100):
      if(wide[counter]!=0 & noball[counter]!=0):
        continue
      else:
        ball += 1
    counter += 1
  rr_balls_to_100.append(ball)
for i in mi_match_ids:
  mdf = mi[mi['match_id']==i]
  scores=[i for i in mdf['total_runs']]
  wide = [i for i in mdf['wide_runs']]
  noball = [i for i in mdf['noball_runs']]
  score=0
  ball=0
  counter=0
  for i in scores:
    score += i
    if(score<=100):
      if(wide[counter]!=0 & noball[counter]!=0):
        continue
      else:
        ball += 1
    counter += 1
  mi_balls_to_100.append(ball)
#print(mi_balls_to_100)
print(statistics.median(rr_balls_to_100))
print(statistics.median(mi_balls_to_100))

80.5
82